doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title JS++
    link(rel='stylesheet', href='./css/d-03.css')
  body
    h1 JS++

    input#count(type='text')
    button#go Graph
    #graph

    script(src='./js/vendor/traceur.js')
    script(src='./js/vendor/experimental.js')
    script(src='./js/vendor/jquery-2.1.0.js')
    script(src='./js/vendor/lodash-2.4.1.js')
    script(src='./js/vendor/moment-2.6.0.js')
    script(src="http://www.amcharts.com/lib/3/amcharts.js")
    script(src="http://www.amcharts.com/lib/3/serial.js")
    script(src="http://www.amcharts.com/lib/3/themes/chalk.js")
    script(src='./js/es6/d-03.js')
